@charset "UTF-8";


/* nav.jsp */
form[name=logoutForm] { position: absolute; left: 95%; top: 30%; }


/* common */

div.panel-heading {
	cursor: move;
}

div.in-panel-heading {
	background-color: white;
}

b {
    color: #333333;
}

.panel-default {
    box-shadow: 1px 1px silver;
}

.centerAll * {
	text-align: center !important;
	vertical-align: middle !important;
}

.middle {
    width: 100px;
    margin: auto;
}

.setPanelHeader {
	width: auto !important;
	display: inline-block;
	height: 34px;
	vertical-align: middle;
	line-height: 34px;
}

th, td {
	font-size: 15px;
}

.mr-1 {
	margin-right: 0.5rem !important;
}

.ht-lab {
	height: calc(0.875rem * var(--tblr-body-line-height)) !important;
	display: block;
	margin-bottom: 0.5rem !important;
}

.ht-inp {
	height: calc(0.875rem * var(--tblr-body-line-height) + 0.4375rem * 2 + 1px * 2) !important;
	padding: 0.4375rem 2.25rem 0.4375rem 0.75rem !important;
	display: block;
}

.p-rel {
	position: relative;
}

.rm-side::-webkit-inner-spin-button {
 appearance: none;
 -moz-appearance: none;
 -webkit-appearance: none;
}

.percent::after {
	content: '%';
}

/* plan.jsp */
.fliped > .card-plan {
    box-shadow: rgb(30 41 59 / 16%) 0 2px 16px 0;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    backface-visibility: hidden;
}

.container-turn-over {
	height: calc((1rem * var(--tblr-body-line-height) + 1rem * 2 + 1px) + (1rem * 2 + (1rem + (0.875rem * var(--tblr-body-line-height) + 0.5rem) + (0.875rem * var(--tblr-body-line-height) + 0.4375rem * 2 + 1px * 2)) * 4) + (1rem * 2 + (0.875rem * 1.4285714286 + 0.4375rem * 2 + 1px * 2)) + 1px * 2) !important;
	width: 100% !important;
}

.card-plan {
	position: absolute;
	width: 100%;
	height: 100%;
}

.front {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	background: var(--tblr-card-bg,#fff)
}

#white {
	background-color: white;
}
#red {
	background-color: red;
}
#blue {
	background-color: blue;
}
#green {
	background-color: green;
}

.hidden {
	display: none;
}

/* order.jsp */

table#calendar {
	table-layout: fixed;
}

table#calendar caption {
	color: #626976;
}

table#calendar th, table#calendar td {
    text-align: center;
    font-size: 15px;
    
}

table#calendar th {
	height: 50px;
}

table#calendar td {
	height: 150px;
	vertical-align: top;
}

table#calendar td div.date {
    text-align: left;
    width: 100%;
}

table#calendar td div#orderInfo {
	text-align: center;
	width: 100%;
	overflow: hidden;
	margin-left: 15%;
	width: 85%;
    font-weight: 1000;
    color: white !important;
    border-radius: 7px;
    font-size: 12px;
}

table#calendar td div#orderInfo:active {
	filter: saturate(0.6);
}

table#calendar td div#orderInfo:hover {
	transform: scale(1.5);
}

table#calendar td.clickable:active {
    background-color: grey;
}

.sun {
    color: red !important;
}

.sat {
    color: blue !important;
}

span#prev {
    margin-right: 30px;
}
span#prev:active {
    background-color: gray;
}

span#next {
    margin-left: 30px;
}
span#next:active {
    background-color: gray;
}

#prev, #next {
    border: 0px;
    background-color: white;
    width: 10%;
}
