@charset "UTF-8";


/* nav.jsp */
form[name=logoutForm] { position: absolute; left: 95%; top: 30%; }


/* common */

div.panel-heading {
	cursor: move;
}

div.in-panel-heading {
	background-color: white;
}

b {
    color: #333333;
}

.panel-default {
    box-shadow: 1px 1px silver;
}

.centerAll * {
	text-align: center !important;
	vertical-align: middle !important;
}

.middle {
    width: 100px;
    margin: auto;
}

.setPanelHeader {
	width: auto !important;
	display: inline-block;
	height: 34px;
	vertical-align: middle;
	line-height: 34px;
}

th, td {
	font-size: 15px;
}

/* plan.jsp */
input[name=orderQuantity] { 
    width: 100px;
    margin: auto;
}

input[name=orderDate] {
	width: 120px;
    margin: auto;
}

select[name=emplNum] {
	width: 130px;
	margin: auto;
}

#white {
	background-color: white;
}
#red {
	background-color: red;
}
#blue {
	background-color: blue;
}
#green {
	background-color: green;
}

/* order.jsp */

table#calendar {
	table-layout: fixed;
}

table#calendar th, table#calendar td {
    text-align: center;
    font-size: 15px;
    height: 150px;
}

table#calendar td div.date {
    text-align: left;
    width: 100%;
}

table#calendar td div#orderInfo {
	text-align: center;
	width: 100%;
	overflow: hidden;
	margin-left: 15%;
	width: 85%;
    font-weight: 1000;
    color: white;
    border-radius: 7px;
    font-size: 12px;
}

table#calendar td div#orderInfo:active {
	filter: saturate(0.6);
}

table#calendar td div#orderInfo:hover {
	transform: scale(1.5);
}

table#calendar td.clickable:active {
    background-color: grey;
}

.sun {
    color: red;
}

.sat {
    color: blue;
}

span#prev {
    margin-right: 30px;
}
span#prev:active {
    background-color: gray;
}

span#next {
    margin-left: 30px;
}
span#next:active {
    background-color: gray;
}

#prev, #next {
    border: 0px;
    background-color: white;
    width: 10%;
}
