@charset "UTF-8";

:root {
	--border-style: 1px solid;
	--border-outer: 2px solid;
}


/* printPO.jsp */
* {
	-moz-box-sizing: border-box;
	text-align: center;
}

.tx-l {
	text-align: left !important;
}

div#content {
	width: 21cm;
	min-height: 29.7cm;
	padding: 1.5cm 1.5cm 2cm 1.5cm;
	margin: auto;
}

h1#documentName {
	font-size: 33px;
	text-align: center;
	margin: 15px 0 1.5cm 0;
	letter-spacing: 20px
}

table {
	border-spacing: 0;
	margin: 0 auto 0.3cm auto;
	table-layout: fixed;
	word-break: break-all;
	width: 100%;
}

table#companyTable {
	display: inline-block;
	margin: 0;
}

div#company {
	margin-bottom: 0.3cm;
}

div#planContent {
	height: 80%;
	width: 100%;
}

div#companyInfo {
	display: inline-block;
    width: 49.6%;
    height: 25%;
}

div#planInfo {
	display: inline-block;
    width: 100%;
    height: 25%;
}

div#productInfo {
	display: inline-block;
    width: 100%%;
    height: 50%;
}

div#company thead th {
	letter-spacing: 7px;
}

div#company tbody th {
	letter-spacing: 20px;
	text-indent: 10px;
}

div#company tbody td {
	width: 6.65cm;
}

th, td {
	border-top: var(--border-style);
	border-right: var(--border-style);
	height: 1cm;
}

tr:first-child th, tr:first-child td {
	border-top: var(--border-outer);
}

tbody tr:last-child th, tr:last-child td {
	border-bottom: var(--border-outer);
}

th:first-child, td:first-child {
	border-left: var(--border-outer);
}

th:last-child, td:last-child {
	border-right: var(--border-outer);
}

#productTable tr:nth-last-child(2) th, #productTable tr:nth-last-child(2) td {
	border-top: 3px double;
}

.longWord {
	letter-spacing: 5px !important;
}

thead th {
	background-color: #D3D3D3;
}

tbody th {
	background-color: #F5F5F5;
	width: 3.5cm;
}

td#etc {
	height: 3cm;
	text-align: left;
	vertical-align: top;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-outline {
    color: inherit;
    background-color: transparent !important;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

div#btnArea {
	float: right;
}

button {
	float: left;
}

@page {
	size: A4;
	maring: 0;
}

@media print {
	#page {
		margin: 0;
		border: initial;
		border-radius: initial;
		width: initial;
		min-height: initial;
		box-shadow: initial;
		background: initial;
		page-break-after: always;
	}
	
	div#content {
		padding: 0.5cm 0.5cm 0.5cm 0cm;
	}
}
