@charset "UTF-8";

/* printPO.jsp */
* {
	-moz-box-sizing: border-box;
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
}

div#content {
	width: 21cm;
	min-height: 29.7cm;
	padding: 1.5cm 1.5cm 2cm 1.5cm;
}

h1#documentName {
	font-size: 33px;
	text-align: center;
	margin: 15px 0 1.5cm 0;
	letter-spacing: 20px
}

table {
	border-spacing: 0;
	margin: 0 auto 0.5cm auto;
	table-layout: fixed;
	word-break: break-all;
	width: 100%;
}

table#companyTable {
	display: inline;
}

div#company {
	margin-bottom: 0.5cm;
}

div#company thead th {
	letter-spacing: 7px;
}

div#company tbody th {
	letter-spacing: 20px;
	text-indent: 12.5px;
}

div#company tbody td {
	width: 6.68cm;
}

th, td {
	border: 0.5px solid;
	height: 1cm;
}

thead th {
	background-color: #D3D3D3;
}

tbody th {
	background-color: #F5F5F5;
	width: 3.5cm;
}

td#etc {
	height: 3cm;
	text-align: left;
	vertical-align: top;
}

@page {
	size: A4;
	maring: 0;
}

@media print {
	#page {
		margin: 0;
		border: initial;
		border-radius: initial;
		width: initial;
		min-height: initial;
		box-shadow: initial;
		background: initial;
		page-break-after: always;
	}
}
